name: Test Khoj API Response

on: 
  workflow_dispatch:
#   issues:
#     types: [opened]
#   issue_comment:
#     types: [created]

jobs:
  test-khoj-response:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set issue number for issues and issue_comment events
        if: ${{ github.event_name == 'issues' || github.event_name == 'issue_comment' }}
        run: |
          echo "ISSUE_NUMBER:${{ github.event.issue.number }}"
          echo "ISSUE_NUMBER=${{ github.event.issue.number }}" >> $GITHUB_ENV
      
      - name: Set issue number for workflow_dispatch event
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          echo "ISSUE_NUMBER:${{ github.event.inputs.issueNumber }}"
          echo "ISSUE_NUMBER=${{ github.event.inputs.issueNumber }}" >> $GITHUB_ENV
        
      - name: Send GET request to Khoj
        id: send_request
        run: |
          baseURL="https://app.khoj.dev/api/"
          ENCODED_QUERY_PARAM="${{ env.ENCODED_ISSUE_CONTENT}}"
          url="${baseURL}chat?q=%2Fsummarize%20in%20100%20words%20or%20less%20the%20goal%20of%20the%20FDAi%20repository&n=5&client=web&stream=false&conversation_id=4120&region=California&city=San%20Francisco&country=United%20States"
          AGENT_RESPONSE=$(curl -s -X GET "$url" \
            --header "authority: app.khoj.dev" \
            --header "accept: */*" \
            --header "accept-language: en-US,en;q=0.9" \
            --header "cookie: ph_phc_kyJl5n4nibfibhTwixFnXzwVW9p70kzFdFRF2MrPtp7_posthog=%7B%22distinct_id%22%3A%22018dd738-8d31-793b-b772-32ec0bc978b0%22%2C%22%24device_id%22%3A%22018dd738-8d31-793b-b772-32ec0bc978b0%22%2C%22%24user_state%22%3A%22anonymous%22%2C%22%24sesid%22%3A%5B1709029296044%2C%22018dea05-e423-793e-8595-00f3b7271fa6%22%2C1709028271138%5D%2C%22%24client_session_props%22%3A%7B%22sessionId%22%3A%22018dea05-e423-793e-8595-00f3b7271fa6%22%2C%22props%22%3A%7B%22initialPathName%22%3A%22%2F%22%2C%22referringDomain%22%3A%22%24direct%22%7D%7D%2C%22%24session_recording_enabled_server_side%22%3Atrue%2C%22%24console_log_recording_enabled_server_side%22%3Atrue%2C%22%24session_recording_recorder_version_server_side%22%3A%22v2%22%2C%22%24session_recording_network_payload_capture%22%3A%7B%22capturePerformance%22%3Atrue%7D%2C%22%24autocapture_disabled_server_side%22%3Afalse%2C%22%24active_feature_flags%22%3A%5B%5D%2C%22%24enabled_feature_flags%22%3A%7B%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%7D; session=eyJ1c2VyIjogeyJpc3MiOiAiaHR0cHM6Ly9hY2NvdW50cy5nb29nbGUuY29tIiwgImF6cCI6ICI1NzY4NjE0NTk3ODgtMWF0cmZpZjhwM3Mxa2h0bDhwZGs2azNrOXI2MzA5cWYuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCAiYXVkIjogIjU3Njg2MTQ1OTc4OC0xYXRyZmlmOHAzczFraHRsOHBkazZrM2s5cjYzMDlxZi5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsICJzdWIiOiAiMTE1NjM0ODk1ODExMjY5ODU4NTU2IiwgImVtYWlsIjogIm15bW0ucHN1QGdtYWlsLmNvbSIsICJlbWFpbF92ZXJpZmllZCI6IHRydWUsICJuYmYiOiAxNzA4NzEyNTAxLCAibmFtZSI6ICJNYXR0IE1ZIE1vIiwgInBpY3R1cmUiOiAiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUNnOG9jSmxFUXFKTlRFUTNSVE9ycFpvMjBOTE1iUG5Ta2t1Mnh4RTBreGlmU1ZZTGc9czk2LWMiLCAiZ2l2ZW5fbmFtZSI6ICJNYXR0IE1ZIiwgImZhbWlseV9uYW1lIjogIk1vIiwgImxvY2FsZSI6ICJlbiIsICJpYXQiOiAxNzA4NzEyODAxLCAiZXhwIjogMTcwODcxNjQwMSwgImp0aSI6ICJmNWNjOTljYjE4ZTY3Nzg5ODE1ODg0ZTkxYjdhNzhmOTQ3MGU1MDRjIn19.Zd236g.qxwxF3jhChjJHp4pau5EwZINbBA; session=eyJ1c2VyIjogeyJpc3MiOiAiaHR0cHM6Ly9hY2NvdW50cy5nb29nbGUuY29tIiwgImF6cCI6ICI1NzY4NjE0NTk3ODgtMWF0cmZpZjhwM3Mxa2h0bDhwZGs2azNrOXI2MzA5cWYuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCAiYXVkIjogIjU3Njg2MTQ1OTc4OC0xYXRyZmlmOHAzczFraHRsOHBkazZrM2s5cjYzMDlxZi5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsICJzdWIiOiAiMTE1NjM0ODk1ODExMjY5ODU4NTU2IiwgImVtYWlsIjogIm15bW0ucHN1QGdtYWlsLmNvbSIsICJlbWFpbF92ZXJpZmllZCI6IHRydWUsICJuYmYiOiAxNzA4NzEyNTAxLCAibmFtZSI6ICJNYXR0IE1ZIE1vIiwgInBpY3R1cmUiOiAiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUNnOG9jSmxFUXFKTlRFUTNSVE9ycFpvMjBOTE1iUG5Ta2t1Mnh4RTBreGlmU1ZZTGc9czk2LWMiLCAiZ2l2ZW5fbmFtZSI6ICJNYXR0IE1ZIiwgImZhbWlseV9uYW1lIjogIk1vIiwgImxvY2FsZSI6ICJlbiIsICJpYXQiOiAxNzA4NzEyODAxLCAiZXhwIjogMTcwODcxNjQwMSwgImp0aSI6ICJmNWNjOTljYjE4ZTY3Nzg5ODE1ODg0ZTkxYjdhNzhmOTQ3MGU1MDRjIn19.ZeBVJw.WzHmsWGauhPmqVqxdu1u-chMgik" \
            --header "referer: https://app.khoj.dev/" \
            --header "sec-ch-ua: \"Chromium\";v=\"122\", \"Not(A:Brand\";v=\"24\", \"Google Chrome\";v=\"122\"" \
            --header "sec-ch-ua-mobile: ?0" \
            --header "sec-ch-ua-platform: \"Windows\"" \
            --header "sec-fetch-dest: empty" \
            --header "sec-fetch-mode: cors" \
            --header "sec-fetch-site: same-origin" \
            --header "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
          )
          echo "Raw resposne: $AGENT_RESPONSE"
          AGENT_RESPONSE=$(echo "$AGENT_RESPONSE" | jq -r '"\(.response)\nContext:\n\(.context | join("\n"))"')
          echo "AGENT_RESPONSE<<EOF" >> $GITHUB_ENV
          echo "${AGENT_RESPONSE}" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
          
      - name: Print Khoj Response
        run: |
          echo "Final Response: ${{ env.AGENT_RESPONSE }}"